body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #111;
}

p {
  font-size: 18px;
  color: #667;
}

a {
  display: block;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: red;
  font-size: 20px;
  transition: 0.3s;
}
